@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

:root {
  --color-primary: #36aa6e;
  --color-secondary: #edf2f0;
  --color-tertiary: #272727;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-tertiary);
  font-weight: 300;
  background-color: var(--color-secondary);
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 16px;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.header__logo img {
  width: 48px;
  height: 48px;
  position: relative;
  top: 3px;
  background: linear-gradient(to right, var(--color-primary) 0%, #66d59f, rgba(102, 213, 159, 0.82));
  border-radius: 50%;
  padding: 6px;
}

.header__logo h2 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 8px;
  text-transform: uppercase;
}

span {
  color: var(--color-primary);
}

.header__search {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 8px;
  background-color: #fff;
  column-gap: 20px;
  margin-top: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__search img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header__search input {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  outline: none;
  border: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  margin: 40px 0;
  text-align: center;
}

#movies-count {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Footer Styling */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 2%;
  gap: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-text {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

.footer-text a {
  text-decoration: none;
  color: var(--color-secondary);
}

/* ----------- */

#movies {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2rem 1rem;
}

#movies article {
  align-self: start;
}

.movie {
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie h3 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
  text-transform: uppercase;
}

.movie p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 4px;
}

.movie div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.movie__rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}

.movie__likes img {
  transition: transform 0.2s;
}

.movie div img {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.movie__likes {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 8px;
}

.movie__likes img:active {
  transform: scale(1.3);
}

.movie__likes span {
  position: relative;
  top: 1px;
}

.movie button {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 5px 8px;
  margin-top: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.movie button:hover {
  border: 1px solid transparent;
  background-image: linear-gradient(to right, var(--color-primary), #66d59f, rgba(102, 213, 159, 0.82));
  color: #fff;
}

/* modal code */

#modal {
  background: rgba(65, 212, 145, 0.8);
  z-index: 6;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 50px 16px;
  overflow: auto;
}

.modal-container {
  background-color: #e6efe9;
  margin: auto;
  max-width: 95%;
  position: relative;
  padding: 5%;
  border-radius: 20px;
}

.modal-cross {
  position: fixed;
}

.cross {
  position: absolute;
  top: 20px;
  right: 20px;
}

.content {
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.modal-pic {
  width: 175px;
  height: 250px;
  padding: 3%;
  background-color: #fff;
  border-radius: 30px;
}

.description {
  margin: 5%;
}

.description > * {
  margin: 15px;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.comment-input {
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: row;
  padding: 3% 8%;
  gap: 15px;
}

.user-icon {
  width: 20%;
}

.fa-solid {
  color: #41d491;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  width: 80%;
  gap: 12px;
}

.inputs > input,
textarea {
  width: 80%;
  margin: 5px;
  resize: none;
}

#add-comment,
#add-review {
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 8% 0;
  border-radius: 20px;
  outline: none;
  color: #41d491;
  border: 2px solid #41d491;
  caret-color: #41d491;
  background-color: #fff;
}

#add-comment:hover,
#add-review:hover {
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  outline: none;
  color: #fff;
  border: 2px solid #fff;
  background-color: #41d491;
}

#name {
  width: 100%;
  padding: 3% 10%;
  border-radius: 10px;
  border: none;
  outline: none;
}

#comment {
  padding: 3% 10%;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
}

.rating {
  margin: auto;
  padding: 3%;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.rating > * {
  margin: 10px 0;
}

.comment-section {
  display: flex;
  flex-direction: column;
  font-family: 'Varela Round', sans-serif;
  margin: 5%;
}

.user-comment {
  display: flex;
  padding: 3% 8%;
  margin: 6px;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}

.username {
  font-weight: 700;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment > p {
  margin: 5px;
}

.none {
  display: none;
}

/* ================= */

@media screen and (min-width: 768px) {
  .header {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header__search {
    position: relative;
    top: 5px;
    width: 400px;
  }

  .header__logo img {
    width: 48px;
    height: 48px;
    position: relative;
    top: 6px;
  }

  .cross {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }

  .content {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }

  .middle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .comment-input {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 3% 8%;
    gap: 70px;
  }

  .comment-section {
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
    align-items: flex-start;
  }

  .none {
    display: none;
  }
}
